@charset "utf-8";
/* CSS Document */
@font-face {
	
	font-family: "keai";
	src: url(font/汉仪乐喵体简.TTF);
}

.avg{
	height: 100vh;
	width: 100vw;
	background-color:pink;
	margin: auto;
/*	border: 1px solid black;*/
	margin:0vh 0vw;
	background-image: url(images/beijing.jpg);
	background-size: cover;

}
.title_cj{
	height: 10vh;
	width: 10vw;
	padding-top: 2vh;
	border: 1px solid gray;
	text-align:center;
	ling-height:center;
	font-size:25px;
	font-weight: 900;
	font-family:"keai";
	background-color: antiquewhite;
	opacity: 80%;
	border-radius: 25px;
}
.back{
	position: relative;
	left:85vw;
	top:-5vh;
/*	border:1px solid red;*/
	text-align: center;
	line-height: 10vh;
	font-size:30px;
	width:10vw;
	height:10vh;
	
}

.text_dhk{
	height: 30vh;
	width: 100vw;
	border: 1px solid gray;
	position: absolute;
	top: 70vh;
	text-align: left;
	text-indent: 20px;
	font-size:25px;
	font-family:"keai";
	z-index: 9;
	background-color: antiquewhite;
	opacity: 80%;
	border-radius: 25px;
}
.title_dhk{
	height: 10vh;
	width: 10vw;
	padding-top: 2vh;
	border: 1px solid gray;
	position: absolute;
	top: 60vh;
	z-index: 9;
	color: black;
	font-weight: 900;
	font-size:25px;
	font-family:"keai";
	background-color: antiquewhite;
	opacity: 80%;
	border-radius: 25px;
	}
.charater1{
	height: 75vh;
	width: 20vw;
/*	border: 1px solid black;*/
	position: relative;
	top: -8vh;
	left: -55vw;
	float: left;
	background-size: 100% 100%;
}
.charater2{
	height: 75vh;
	width: 20vw;
/*	border: 1px solid black;*/
	position: relative;
	top: -83vh;
	left: 55vw;
	float: left;
	background-size: 100% 100%;

}


.charater3{
	height: 75vh;
	width: 20vw;
/*	border: 1px solid black;*/
	position: relative;
	top:-83vh;
	left:20vw;
	float: left;
	background-size: 100% 100%;

}
/*
.op{
	position: absolute;
	left: 60vw;
	top: 80vh;
	height: 5vh;
	width: 5vw;
	border: 2px solid red;
	z-index: 9;
	display: none;

	
}
*/

.option{
	height: 8vh;
	width: 26vw;
/*	border: 1px solid red;*/
	position: relative;
	float: left;
	left: 10vw;
	top: 65vh;
	text-align:center;
	ling-height:center;
	font-weight: 900;
	color: aliceblue;
	z-index: 9;
	font-size: 20px;
	font-family:"keai";
	border-radius: 25px;
	background-color:#5A68EB;
	box-shadow: 10px 10px 5px #888888;
}
.option:hover{
	height: 8.5vh;
	width: 26vw;
/*	border: 1px solid red;*/
	position: relative;
	float: left;
	left: 10vw;
	top: 65vh;
	text-align:center;
	ling-height:center;
	font-weight: 900;
	color: aliceblue;
	z-index: 9;
	font-size: 22px;
	font-family:"keai";
	border-radius: 25px;
	background-color:#3E4EED;
	box-shadow: 10px 10px 5px #888888;
}

.avg_back{
	width: 10vw;
	height: 17vh;
}

.avg_back:hover{
	width: 11vw;
	height: 18.7vh;
	transform: rotate(5);
	}
#nub{
	opacity: 0;
	top:-10vh;
	
}





























