@charset "utf-8";
*{
	margin:0;
	padding:0;
}
.beijing {
	position:absolute;
	width:100vw;
	height:100vh;
	background: url(images/beijing.jpg) no-repeat 10px center;
	background-size: 100% 100%;
}
.index_title {
	margin-top:30vh;
}
.index_go {
	text-align: center;
}
.yayun{
	display:bolck;
	position:absolute;
	width: 50vw;
	margin-left: -14vw;
	top:20vh;
	left: 37%;
	transform: scale(0.7);
}
a{
	position:fixed;
	left:37vw;
	top:60vh;
	transform: scale(0.6);
}
a:hover {
	color:aquamarine;
	transform: scale(0.7);
}

