@charset "utf-8";
*{
	margin:0;
	padding:0;
}
.beijing {
	position:absolute;
	width:100vw;
	height:97vh;
	background: url(images/beijing.jpg) no-repeat center;
	background-size: 100% 100%;
}
.index_title {
	margin-top:30vh;
}
.index_go {
	text-align: center;
}
.yayun{
	display:bolck;
	position:absolute;
	width: 60vw;
	height:60vh;
	margin-left: -18vw;
	top:20vh;
	left: 37%;
	transform: scale(0.7);
}
.yayun:hover {
	transform:scale(0.8);
}
a{
	position:absolute;
	left:42vw;
	top:70vh;
	transform: scale(0.9);
}
a:hover {
	color:aquamarine;
	transform: scale(1.1);
}

